<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.1.0" targetFramework="net452" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net452" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="PeanutButter.RandomGenerators" version="1.1.15" targetFramework="net452" />
  <package id="PeanutButter.TestUtils.Generic" version="1.0.155" targetFramework="net452" />
  <package id="PeanutButter.Utils" version="1.2.23" targetFramework="net452" />
</packages>